<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="LessonsLearnedDbContext"
         connectionString="Server=.\SQLEXPRESS;Initial Catalog=LessonsLearned;Integrated Security=True"
         providerName="System.Data.SqlClient"
         />
  </connectionStrings>
</configuration>
